*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#bg{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pexels-pixabay-531880.jpg);
    object-fit: cover;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 8vw;
    font-weight: bolder;
    color: rgb(30, 26, 85);
    letter-spacing: 1vw;
    
}